{{> plain-header}}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid">

            <div class="mdl-cell mdl-cell--6-col">
                <div class="about-rectangle">
                    <div class="p15">
                        <h2>Group Overview</h2>

                        {{item.first_name}} {{item.last_name}}
                        <div class="inline">
                            {{#each sites}}
                                    {{#each this}}
                                        <img src="{{site_imagePath}}" alt="" class="image-about">
                                        <br>
                                    {{/each}}
                            {{/each}}
                        </div>
                        <br>
                        <div class="inline">
                            {{#each sites}}
                                {{#each this}}
                                    <div class="w150"><a href="/site/{{id}}">{{site_name}}</a></div>

                                    <br>
                                {{/each}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="ml5vw">
                    <form action="/insert_site" method="post">
                        <div class="form-group">
                            <label for="site_name">Site</label>
                            <br>
                            <input type="text" id="site_name" name="site_name" value="{{item.site_name}}" class="mdl-button block-button">
                        </div>
                        <div class="form-group">
                            <label for="site_description">Description</label>
                            <br>
                            <input type="textarea" id="site_description" name="site_description" value="{{item.site_description}}" rows="6" class="mdl-button block-area">
                        </div>
                        <div class="form-group">
                            <label for="site_imagePath">Image</label>
                            <br>
                            <input type="text" id="site_imagePath" name="site_imagePath" value="{{item.site_imagePath}}" class="mdl-button block-button">
                        </div>
                        <button type="submit" class="block2-btn-primary">Add project</button>
                    </form>
                </div>

            </div>
        </div>

    <!-- Your content goes here -->
    </div>
</main>

<!-- this final div closes off the div started in the header.hbs -->
</div>

