{{> plain-header}}
{{> secondary-site-header}}

<main class="mdl-layout__content">
    <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--5-col">
                <h2>My Site</h2>
                <p>
                <h3>
                    {{item.site_name}}
                </h3>
                <p>{{item.site_address_line1}}, {{item.site_address_line2}}, {{item.site_postal_code}}, {{item.site_address_state}}</p>
                <br>
                <img src="{{item.site_imagePath}}" alt="" class="portfolio-image-cropper">
                <br>
                <br>
                {{item.site_description}}

                </p>
            </div>
            <div class="mdl-cell mdl-cell--6-col">

            </div>
        </div>
        <br>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">
            </div>
            <div class="mdl-cell mdl-cell--5-col">
                <h3>Edit Data</h3>
                <br>
                <form action="/update_site" method="post">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class = "form-control" id="id" name="id" value="{{item.id}}">
                    </div>
                    <div class="form-group">
                        <label for="site_name">Site Name</label>
                        <input type="text" class="form-control" id="site_name" name="site_name" value="{{item.site_name}}">
                    </div>
                    <div class="form-group">
                        <label for="site_description">Description</label>
                        <input type="textarea" class="form-control" rows="6" id="site_description" name="site_description" value="{{item.site_description}}">
                    </div>
                    <div class="form-group">
                        <label for="site_imagePath">Image</label>
                        <input type="text" class="form-control" id="site_imagePath" name="site_imagePath" value="{{item.site_imagePath}}">
                    </div>
                    <div class="form-group">
                        <label for="site_address_line1">Address Line 1</label>
                        <input type="text" class="form-control" id="site_address_line1" name="site_address_line1" value="{{item.site_address_line1}}">
                    </div>
                    <div class="form-group">
                        <label for="site_address_line2">Address Line 2</label>
                        <input type="text" class="form-control" id="site_address_line2" name="site_address_line2" value="{{item.site_address_line2}}">
                    </div>
                    <div class="form-group">
                        <label for="site_postal_code">Postcode</label>
                        <input type="text" class="form-control" id="site_postal_code" name="site_postal_code" value="{{item.site_postal_code}}">
                    </div>
                    <div class="form-group">
                        <label for="site_address_state">State</label>
                        <input type="text" class="form-control" id="site_address_state" name="site_address_state" value="{{item.site_address_state}}">
                    </div>
                    <button type="submit" class="block2-btn-primary">Update</button>
                    <br>
                </form>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
            </div>
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">
            </div>
            <div class="mdl-cell mdl-cell--5-col">
                <h3>Delete Project</h3>
                <br>
                <form action="/delete_site" method="post">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class = "form-control" id="id" name="id" value="{{item.id}}">
                    </div>
                    <br>
                    <button type="submit" class="block2-btn-primary">Delete</button>
                </form>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
            </div>
        </div>
        <!-- Your content goes here -->
    </div>
</main>

<!-- this final div closes off the div started in the header.hbs -->
</div>
